* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container {
  padding: 0px 90px;
}
/* HEADER AREA STYLE */
.navigation-container {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding-top: 6px;
  padding-bottom: 6px;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo-area > h5 {
  color: white;
}
.logo-area > img {
  width: 40px;
  height: 30px;
}
.orange-text {
  color: orange;
}
.navigation-area > ul {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.navigation-area > ul > li {
  list-style: none;
  padding: 4px 8px;
  transition: 0.5s all;
}
.navigation-area > ul > li > a {
  text-decoration: none;
  color: white;
}
.navigation-area > ul > li:hover {
  background-color: orange;
  border-radius: 3px;
}

/* BANNAR SECTION HERE */
.bannar-section {
  height: 80vh;
  /* background-image: url("../images/bannar.png"); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.325),rgba(0, 0, 0, 0.323)),url("../images/bannar.png");
  background-size: cover;
  display: flex;
  align-items: center;
}
.bannar > h4 {
  color: orange;
  margin-bottom: 8px;
}
.bannar > h1 {
  color: white;
}
.join-btn {
  color: white;
  border: 1px solid orange;
  border-radius: 4px;
  background-color: transparent;
  padding: 5px 10px;
  margin-top: 6px;
}
.join-btn:hover {
  background-color: orange;
  cursor: pointer;
}
